# Ignorar todos os arquivos .exe, exceto Game.exe
*.exe
*.pdb
!Game.exe

# Ignorar todos os arquivos .log
*.log

# Ignorar credentials.config e odin.config
odin.config
Env/credential.config
ScreenShot/
zlib1.dll
